<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>FindAllCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.FindAllCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddParentCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.AddParentCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddChildCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.AddChildCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditParentCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.EditParentCategoryCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditChildCategoryCtrl</servlet-name>
    <servlet-class>cn.edu.zhk.jsj144.liao.ctrl.category.product.EditChildCategoryCtrl</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>FindAllCategoryCtrl</servlet-name>
    <url-pattern>/category_product/FindAllCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddParentCategoryCtrl</servlet-name>
    <url-pattern>/category_product/AddParentCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChildCategoryCtrl</servlet-name>
    <url-pattern>/category_product/AddChildCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditParentCategoryCtrl</servlet-name>
    <url-pattern>/category_product/EditParentCategoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditChildCategoryCtrl</servlet-name>
    <url-pattern>/category_product/EditChildCategoryCtrl</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
