body{
	margin:0;
}

.top {
	position: relative;
	height: 70px;
	width: auto;
	color: #FFFFFF;
	background-color: #1B4876;
}
.tabBar {
	color: #FFFFFF;
	position: absolute;
	height: 30px;
	width: 100%;
	top: 40px;
	left: 0px;
}
